<header>
    <input type="checkbox" name="" id="nav" hidden>
    <label for="nav">
        <i class="fa-solid fa-bars"></i>
    </label>
    <picture class="logo__header">
        <img src="/images/logo.png" alt="logo">
    </picture>
    <menu class="menu">
        <ul class="menu__ul">
            <li class="menu__li">
                <a href="/" class="menu__li-a" rel="noopener noreferrer">
                    <i class="fa-solid fa-home"></i> Inicio
                </a>
            </li>
            <li class="menu__li">
                <a href="/scanner-caco" class="menu__li-a" rel="noopener noreferrer">
                    <i class="fa-solid fa-camera"></i> Escáner
                </a>
            </li>
            <li class="menu__li">
                <a href="notes/add" class="menu__li-a" rel="noopener noreferrer">
                    <i class="fa-solid fa-note-sticky"></i> Ver Sugerencias
                </a>
            </li>
            <li class="menu__li">
                <a href="/about" class="menu__li-a" target="_blank" rel="noopener noreferrer">
                    <i class="fa-solid fa-address-card"> </i> Sobre Nosotros
                </a>
            </li>
            <li class="menu__li">
                <a href="/auth/logout" class="menu__li-a" target="" rel="noopener noreferrer">
                    <i class="fa-solid fa-unlock-keyhole"> </i> Cerrar Session
                </a>
            </li>
        </ul>
    </menu>
    <i class="fa-solid fa-user-circle"></i>
</header>