<div class="center">
    <form action="/notes/new-note" method="post" class=" form card">
        <div class="form__group">
            <h2 class="form__title">Crear Nota</h2>
        </div>
        <fieldset class="form__group">
            <input class="form__input" type="text" placeholder=" " name="title" id="title">
            <label for="title" class="form__label">Ingrese el titulo</label>
        </fieldset>
        <fieldset class="form__group">
            <textarea class="form__input" id="description" placeholder=" " name="description"></textarea>
            <label for="description" class="form__label">Ingrese la descripción</label>
        </fieldset>

        <div class="form__group form__group-btn ">
            <button type="submit" class="form__btn ">Guardar</button>
        </div>
    </form>


</div>