<form action="#" method="post" class=" form card">
    {{!-- <picture class="form__images images-top circle  ">

        <img src="/images/logo.png" alt="logo" type="image/png" />
    </picture> --}}

    <div class="form__group">
        <h2 class="form__title">Iniciar Sesi칩n</h2>
    </div>
    <fieldset class="form__group">
        <input class="form__input" type="text" placeholder=" " name="email" id="user">
        <label for="user" class="form__label">Ingrese el nombre <i class="fa-solid fa-user icon"></i></label>
    </fieldset>
    <br>
    <fieldset class="form__group">
        <input class="form__input" type="password" placeholder=" " name="password" id="password">
        <label for="password" class="form__label">Ingrese su contrase침a <i class="fa-solid fa-unlock-keyhole icon"></i>
        </label>
    </fieldset>

    <br>

    <div class="form__group form__group-btn ">
        <button type="submit" class="form__btn form__btn-change"> 
            Iniciar Sesi칩n <i class="fa-regular fa-paper-plane icon"></i>
        </button>
        
        <button id="signup" type="button" class="form__btn form__btn-change"> 
            Crear Cuenta <i class="fa-solid fa-user icon"></i>
        </button>

    </div>
    <div class="from__group center">
        <a class="form__link" href="#" type="link"> Olvido su contrase침a ?</a>
    </div>

</form>